doctype
html(lang="en-us")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie-edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        title medCheck.gov
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/vendor/jquery-auto-complete/jquery.auto-complete.css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600italic,400,600,700' rel='stylesheet' type='text/css')
    body(data-ng-app='ads18fApp')
        header#site-header
            .container
                h1#logo-medCheck.text-hide medCheck.gov
        main(data-ng-controller='Ads18fController' role="main")
            div.medlib-background
                section.jumbotron.medlib
                    form(novalidate class="container" name="drugCauseSymptom" data-ng-submit="submit()")
                        p.form-group 
                            | Can <fill-in-the-blank label="Enter Medicine" data-the-blank="drug" data-typeahead-query-field="DRUG"></fill-in-the-blank> cause <fill-in-the-blank label="Enter Symptom" data-the-blank="symptom" data-typeahead-query-field="SYMPTOM"></fill-in-the-blank>?
                            button(type="submit" data-ng-disabled="formIsValid()" class="btn btn-lg btn-find-out") Find Out
                section(data-ng-class="{in: hasResult}" class="collapse container search-result")
                    h2 {{hasSideEffectText}}, {{resultSymptom}} is/are a side effect of {{resultDrug}}.
                    div(ng-bind-html="guide" data-ng-class="{in: hasSideEffect}" class="collapse")
        footer.container
            p powered by <a href="https://open.fda.gov/" id="logo-openFDA" class="logo text-hide">openFDA</a> &amp; <a href="http://www.icfi.com/" id="logo-icf" class="logo text-hide">ICF International</a>
        script(src='/scripts/jquery/dist/jquery.min.js')
        script(src='/vendor/jquery-auto-complete/jquery.auto-complete.min.js')
        script(src='/scripts/angular/angular.min.js')
        script(src='/scripts/angular-sanitize/angular-sanitize.min.js')
        script(src='/scripts/angular-aria/angular-aria.min.js')
        script(src='/app/app.js')
        script(src='/app/config.js')
        script(src='/app/factories.js')    
        script(src='/app/controllers.js')
        script(src='/app/directives.js')