doctype
html(lang="en-us")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="IE-edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        title MedCheck.gov
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/vendor/jquery-auto-complete/jquery.auto-complete.css')
        link(rel='stylesheet', href='/scripts/c3/c3.min.css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600italic,400,600,700' rel='stylesheet' type='text/css')

        link(rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png")
        link(rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="/favicon/manifest.json")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-TileImage" content="/favicon/mstile-144x144.png")
        meta(name="theme-color" content="#ffffff")

    body(data-ng-app='ads18fApp')
        header(id="site-header" role="banner")
            .container
                h1#logo-medCheck.text-hide MedCheck.gov
        main(data-ng-controller='Ads18fController' role="main")
            div.jumbotron.medlib
                form(novalidate role="search" class="container" name="drugCauseSymptom" data-ng-submit="submit()")
                    p.form-group 
                        | Can <fill-in-the-blank label="Enter Medicine" data-the-blank="drug" data-typeahead-query-field="DRUG"></fill-in-the-blank> cause <fill-in-the-blank label="Enter Symptom" data-the-blank="symptom" data-typeahead-query-field="SYMPTOM"></fill-in-the-blank>?
                        button(type="submit" class="btn btn-lg btn-medCheck") Find Out
            div.search-result-wrapper
                section(data-ng-class="{in: hasResult}" class="collapse container search-result")
                    h2(tabindex="-1" id="search-result-header") <strong>{{hasSideEffectYesNo}}</strong>, {{resultDrug}} {{hasSideEffectText}} {{resultSymptom}}.
                    div.row
                        article(class="col-md-7" role="article")
                            div(data-ng-bind-html="guide")
                            footer
                                p.disclaimer <strong>Disclaimer:</strong> openFDA is a beta research project and is not for clinical use. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated.
                                a(data-ng-click="searchMore()" class="link-search-more") Search More Side Effects
                        aside(role="complimentary" class="col-md-5")
                            div
                                a(href="https://www.accessdata.fda.gov/scripts/medwatch/index.cfm?action=reporting.home" class="btn btn-lg btn-medCheck") Report a Side Effect
                                chart(data-type="my_med" data-chart-data="myMedChartData" data-ng-if="hasSideEffect") {{myMedChartTitle}}
                                chart(data-type="any_med" data-chart-data="anyMedChartData" data-ng-if="hasSideEffect") {{anyMedChartTitle}}
                                chart(data-type="top_five" data-chart-data="topFiveChartData" data-ng-if="!hasSideEffect") {{topFiveChartTitle}}
                div(data-ng-class="{in: hasResult}" class="collapse end-gradient")

        footer(class="container" role="contentinfo" id="site-footer")
            p powered by <a href="https://open.fda.gov/" id="logo-openFDA" class="logo text-hide">openFDA</a> &amp; <a href="http://www.icfi.com/" id="logo-icf" class="logo text-hide">ICF International</a>
        script(src='/scripts/jquery/dist/jquery.min.js')
        script(src='/vendor/jquery-auto-complete/jquery.auto-complete.min.js')
        script(src='/scripts/angular/angular.min.js')
        script(src='/scripts/angular-sanitize/angular-sanitize.min.js')
        script(src='/scripts/angular-aria/angular-aria.min.js')
        script(src='/scripts/d3/d3.min.js')
        script(src='/scripts/c3/c3.min.js')
        script(src='/app/app.js')
        script(src='/app/config.js')
        script(src='/app/factories.js')    
        script(src='/app/controllers.js')
        script(src='/app/directives.js')